<!DOCTYPE html>
<html lang="en">
<head>
   
<%- include('./partials/head') %>
<title> blogs</title>
</head>
<body>
    
  <%- include('./partials/nav') %>


<div class="container">
  <form action="/blog" method="post" enctype="multipart/form-data">
 
      <div class="mb-3">
    <label for="image" class="form-label">cover image</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
   <div class="mb-3">
    <label for="body" class="form-label">body</label>
    <textarea name="body" class="form-control" id="textarea" style="height: 100px"></textarea>
   </div>
     <button class="btn btn-info" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>

  <%- include('./partials/script') %>
</body>
</html>